.centered {
    position: absolute;
    top: 45%;
    left: 52%;
    transform: translate(-55%, -48%);
    color: #ffffff;
    text-shadow: 1px 1px 7px #000000;
    transition: color 1s ease;
  }
  .centered:hover{
    color: #bad8a2;
    cursor: default;
  }

  .gotu{
    font-family: 'Gotu', sans-serif;
  }

  .icons{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    padding: 5px;
  }

  .icon-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .icons:hover{
    width: 43px;
    height: 43px;
    margin-bottom: -13px;
    margin-left: -13px;
  }

  .ocean-img{
      z-index: -1;
      position: relative;
  }


