
.bodyColor {
    background-color: #fbf8f5;
}

.title {
    font-family: 'Rajdhani', sans-serif;
}

.bio-header {
    color: #2d3961;
    margin-top: 20px;
    text-align: center;
    }

.nav-link {
    margin-left: 30px;
}


.btn-color {
    background-color: #2d3961;
    color: #fff;
}

.imgJeffrey {
    width: 330px;
    height: 500px;
    background-color: #fbf8f5;
}

.aboutMe {
    font-size: 30px;
}

.baseHeader {
    color: #2d3961;
    font-size: 20px;
}

img.mr-3 {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

h5, .bio-header, .aboutMe, .baseHeader {
    font-family: 'Montserrat', sans-serif;
}


.footer {
    position: fixed;
    bottom: 0px;
    font-size: xx-small;
}

