
.bodyColor {
    background-color: #fbf8f5;
}

.title {
    font-family: 'Rajdhani', sans-serif;
}

.bio-header {
    color: #2d3961;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    text-align: center;
    }

.nav-link {
    margin-left: 30px;
}

.camera {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
}


.attribute {
    position: fixed;
    bottom: 0;
}

.margin {
    margin-bottom: 40px;
    margin-top: 30px;
}

.btn-color {
    background-color: #2d3961;
    color: #fff;
}







@media screen and (max-width: 575px) {
    
}
    